.contacts {
    display: flex;
    flex-direction: column-reverse;

    gap: 32px;

    margin-top: 70%;

    @media screen and (min-width: $tablet) {
        margin-top: 0;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: $desktop) {
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    &__item{
        height: min-content;
    }

 @media screen and (max-width: $pre-tablet) {
    &__item:last-child &__link{
   
        color: $selection-color;
        font-size: 34px;
        letter-spacing: 0.68px;
        }
}

&__link {

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.24px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        letter-spacing: 0.28px;
    }

    display: flex;
    align-items: center;

    text-wrap: nowrap;
    color: $text-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;

    transition: color 250ms $timing-function;
&:focus,
&:hover {
    color: $selection-color;
}
}
&__icon {

    display: none;

    @media screen and (min-width: $tablet){
    display: inline;
    margin-right: 10px;
    fill: currentColor;
        
    transition: fill 250ms $timing-function;
    }

}
}