footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer-box {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }

    &__tablet {
        @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    }
}