.joining__text {
    text-align: center;
    @media screen and (max-width: $pre-tablet) {
        margin-top: 60px;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
    
    color: #FFF;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}